@import '../variables';

.pizza-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 300px;
  text-align: center;
  margin-bottom: 75px;
  // height: 100%;

  &-wrapper {
    display: flex;
    justify-content: center;
    width: 300px;
    // flex-direction: column;
  }

  &__image {
    width: 290px;
    border-radius: 24px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1%;
    margin-bottom: 12px;
    margin-top: 16px;
    // height: 4rem;
    text-align: left;
  }

  &__selector {
    display: flex;
    // align-items: center;
    height: 7rem;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1%;
    margin-bottom: 20px;
    // overflow: auto;
    text-align: left;

    // ul {
    //   display: flex;
    //   flex: 1;

    //   &:first-of-type {
    //     margin-bottom: 6px;
    //   }

    //   li {
    //     padding: 8px;
    //     flex: 1;
    //     cursor: pointer;
    //     font-weight: 600;
    //     font-size: 14px;
    //     @include noselect();
    //     &.active {
    //       background: #ffffff;
    //       box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    //       border-radius: 5px;
    //       cursor: auto;
    //     }
    //   }
    // }

    &__text {
      text-overflow: ellipsis;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 40px;
    padding: 5px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  &__quantity {
    margin: 0 8px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  &__quantityButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 105px;
    -webkit-animation: moveLeft 0.08s ease-in;
    // border: 1px solid #fe5f1e;
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;

    transform: translateY(2rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}
