.checkout {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 900px) {
    width: 100%;
  }

  &__order {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      // grid-column-gap: 12px;
    }
  }

  &__orderMain {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 45%;
    justify-content: space-between;

    @media (max-width: 900px) {
      width: 100%;
    }

    h4 {
      font-size: 40px;
    }

    .cartBottom {
      margin: 50px 0;

      &__details {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 22px;

          &:last-of-type {
            b {
              color: #fe5f1e;
            }
          }
        }
      }
    }
  }
  &__formStreet {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 600px) {
      width: 100%;
      flex-direction: column;
    }
  }

  // &__order {
  //   // display: flex;
  //   // flex-direction: column;
  //   // margin-bottom: 30px;
  // }

  &__contentInput {
    display: flex;
    flex-direction: column;
    width: 45%;
    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__header {
    text-align: left;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 40px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    h4 {
      text-align: left;
      font-weight: bold;
      margin-bottom: 15px;
      font-size: 22px;
    }
  }
  &__form {
    // width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;

    // &__input {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   flex-grow: 1;
    //   padding: 0 15px;
    //   margin: 10px;
    // }

    p {
      color: #bf1650;
    }

    p::before {
      display: inline;
      content: '⚠ ';
    }

    label {
      line-height: 1;
      text-align: left;
      display: block;
      margin-bottom: 13px;
      margin-top: 10px;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 600;
    }

    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      // border-radius: 10px;
      // border: 1px solid rgb(94, 94, 94);
      padding: 10px 15px;
      margin-bottom: 15px;
      font-size: 16px;
      border: 1px solid #dee2e5;
      border-radius: 30px;
      background: white;
      box-shadow: 0 1px 3px -2px #9098a9;
      cursor: pointer;
    }

    input[type='submit'],
    .button {
      position: relative;
      background: rgb(254, 95, 30);
      background: linear-gradient(61deg, rgba(254, 95, 30, 1) 47%, rgba(255, 193, 70, 1) 92%);
      color: white;
      text-transform: uppercase;
      border: none;
      font-weight: 600;
      margin-top: 50px;
      padding: 20px;
      font-size: 16px;
      letter-spacing: 2px;
      display: block;
      appearance: none;
      border-radius: 30px;
      // width: 80%;
      font-weight: 400;
      transition: 0.3s all;

      &:disabled {
        opacity: 0.5;
      }
      &:hover {
        opacity: 0.5;
      }
    }

    input[type='submit']:active {
      transition: 0.3s all;
      top: 2px;
    }

    .radioButtons {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      margin-top: 1rem;

      input[type='radio'] {
        display: block;
        box-sizing: border-box;
        width: 5%;
        height: 45%;
        padding: 0px 10px;
        margin: 0px 20px;
        border: none;
        border-radius: none;
        box-shadow: none;
        &:hover {
          background-color: #fe5f1e;
        }
      }

      label {
        line-height: 2;
        text-align: left;
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
      }
    }

    select {
      // border-radius: 10px;
      // transition: all 150ms ease;
      padding: 10px 35px 10px 15px;
      margin-bottom: 10px;
      outline: none;
      appearance: none;
      cursor: pointer;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: 1px solid #e8eaed;
      border-radius: 30px;
      background: white;
      box-shadow: 0 1px 3px -2px #9098a9;
      font-family: inherit;
      font-size: 16px;
      transition: all 150ms ease;
    }

    textarea {
      display: block;
      box-sizing: border-box;
      width: 100%;
      // border-radius: 10px;
      // border: 1px solid rgb(94, 94, 94);
      padding: 10px 15px;
      // margin-top: 15px;
      margin-bottom: 15px;
      font-size: 16px;
      border: 1px solid #dee2e5;
      border-radius: 30px;
      background: white;
      box-shadow: 0 1px 3px -2px #9098a9;
      cursor: pointer;
    }

    // select {
    //   -webkit-appearance: none;
    //   padding: 7px 40px 7px 12px;
    //   width: 100%;
    //   border: 1px solid #e8eaed;
    //   border-radius: 30px;
    //   background: white;
    //   box-shadow: 0 1px 3px -2px #9098a9;
    //   cursor: pointer;
    //   font-family: inherit;
    //   font-size: 16px;
    //   transition: all 150ms ease;

    //   &:required:invalid {
    //     color: #5a667f;
    //   }

    //   option {
    //     color: #223254;
    //     &[value=''][disabled] {
    //       display: none;
    //     }
    //   }

    //   &:focus {
    //     outline: none;
    //     border-color: #0077ff;
    //     box-shadow: 0 0 0 2px rgba(#0077ff, 0.2);
    //   }

    //   &:hover + svg {
    //     stroke: #0077ff;
    //   }
    // }
  }
}
