.cartContainer {
  position: fixed;
  bottom: 0px;
  right: 0;
  width: 100%;
  z-index: 198;
  transition: top 150ms ease 0s;
  transform: translateY(5px);
  animation: moveUp 0.2s ease-in-out;
  opacity: 1;
}

.cartContainerNone {
  display: none;
}

.cart_trigger {
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  bottom: 28px;
  right: 16px;
  width: 58px;
  height: 58px;
  border-radius: 28px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 20%) 0px 10px 20px;

  // transition: all 0.25s ease 0s;
  user-select: none;
  z-index: 3;

  svg {
    // fill: blue;
    path {
      stroke: rgb(254, 95, 30);
    }
  }
}

.iconItems {
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  top: 0px;
  left: 38px;
  min-width: 21px;
  height: 21px;
  border-radius: 11px;
  padding-bottom: 2px;
  background: rgb(254, 95, 30);
  background: linear-gradient(61deg, rgba(254, 95, 30, 1) 47%, rgba(255, 193, 70, 1) 92%);
  color: rgb(255, 255, 255);
  font-size: 15px;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  50% {
    opacity: 0.2;
    transform: translateY(2rem);
  }

  80% {
    opacity: 0.8;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0.5rem);
  }
}
